body {
  background-color: #0091ea;
  color: #fff;
}

p {
  padding: 0.15% 40% 0.15% 7%;
  font-size: 18px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 1% 20% 2% 7%;
  margin: 0;
  font-size: 22px;
}

/* images */
.logo-image {
  display: block;
  padding: 2%;
}

.image-smile {
  width: 100px;
  padding: 2% 7%;
  height: 7.5%;
}

/* QR Code */
.qr-code {
  width: 120px;
  padding: 0 0.25% 0 7%;
  float: left;
  margin-right: 20px;
}

/* Social Media */
.social-icon {
  color: #212529;
  margin-right: 5px;
  font-size: 25px;
}

.social-icon:hover {
  color: #fff;
}
