nav-pills{
  font-family:Lobster;
  font-size: 15px;
  float: right;
  height: 20px;
  display: block;
padding: 14px 16px;
  background-color: #dddddd;
}


body{
  background-color:black;
  font-family:Lobster;
  color:white;
}

.block{
  backgorind-color:black;
  padding:250px;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
}

h1{
  padding:0;
  margin-top:0px;
  font-size:5.0em;
  margin-bottom:40px; 
}

.btn-default{
  background-color:black;
  border-color:black;
  
}

.pageOne{
  background:url("https://images6.alphacoders.com/519/thumb-1920-519732.jpg");
  background-size:cover;
  height:500;
  
}

#myVideo{
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

li{
	display: inline;
}

.container-fluid
{
	background: #556aa;
}